<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1><%=post.title%></h1>
    <h2>- by <%=post.author%></h2>
    <div>
        <%=post.text%>
    </div>
    <a href="https://didactic-journey-9xw6g5j5747fxq4v-3000.app.github.dev/">Home</a>
    <a href="https://didactic-journey-9xw6g5j5747fxq4v-3000.app.github.dev/edit/<%=post.id%>">Edit</a>
    <a href="https://didactic-journey-9xw6g5j5747fxq4v-3000.app.github.dev/delete/<%=post.id%>">Delete</a>
</body>
</html>